<table id="ufr" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
			<th>Ufr</th>
			<th>Nom complet</th>
			<th>Actions</th>
		</tr>
    </thead>
    <tbody>
    	{% for ufr in ufrs %}
			<tr>
				<td>{{ufr.libelle}}</td>
				<td>{{ufr.NomComplet}}</td>
				<td>
					<span><a title="Afficher la liste des sections" name="{{ufr.id}}" class="ligne action" href=" {{path('liste',{'id': ufr.id })}} "></a></span>
					<span><a title="modifier" name="{{ufr.id}}" class="modifier action" href=" {{path('aergus_association_ufr_modifier',{'libelle': ufr.libelle})}} "></a></span>
					<span><a id="{{ufr.libelle}}" title="supprimer" class="supprimer action" name="{{ufr.id}}" href=" {{path('aergus_association_ufr_delete',{'libelle': ufr.libelle })}} "></a></span>
				</td>
			</tr>
		{% endfor %}
    </tbody>
</table>

<script>
	$("document").ready(function(){
		$('.display').DataTable( {
        "language": {
            "lengthMenu": "_MENU_ ",
            "zeroRecords": "Desole aucun resultat n'a été trouvé",
            "info": " _PAGE_ sur _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
	});
</script>
<script src="{{ asset('assets/js/ajax/section_ufr.js') }}"></script>