<div class="error" style="color:"></div>
<form action="{{path('aergus_association_ufr_modifier',{'libelle': ufr.libelle})}}" method="post" name="{{ufr.id}}" id="ufr-modifier">
	<div id="aergus_ufr_modif_form">
		<div>
			{{ form_label(form.libelle)}}
			{{ form_errors(form.libelle)}}
			{{ form_widget(form.libelle, {'attr': {'class': 'libelle-modifier'}}) }}
		</div>
		<div>
			{{ form_label(form.nomComplet)}}
			{{ form_errors(form.nomComplet)}}
			{{ form_widget(form.nomComplet, {'attr': {'class': 'nomComplet-modifier'}}) }}
		</div>
	</div>
	{{ form_widget(form)}}
	<input type="submit" value="Modifier" class="ajout-form">
</form>
<button class="annuler">Annuler</button> 

<script src="{{ asset('assets/js/ajax/section_ufr.js') }}"></script>